[submodule "P3DModuleBuilder"]
	path = P3DModuleBuilder
	url = https://github.com/Eruvae/P3DModuleBuilder.git
[submodule "pybind11_modules/pybind11"]
	path = pybind11_modules/pybind11
	url = https://github.com/pybind/pybind11.git
